body {
    margin: 0;
    font-family: Roboto;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.header-top {
    display: flex;
    justify-content: space-around;
    padding: 8px;
    /*margin-bottom: 50px;*/
}

.header-links {
    /*display: flex;*/
}

.header-bottom {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.hero-left {
    display: flex;
    flex-direction: column;
}

.hero-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 8px;
}

button {
    border: none;
    border-radius: 8px;
    background: #3882F6;
    color: white;
    padding: 8px 24px;
    max-width: 100px;
}

.image-placeholder {
    background-color: antiquewhite;
    max-width: 200px;
    padding: 10px 100px;
}

.information {
    color: #1F2937;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 36px;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 36px;
}

.box-text {
    text-align: center;
}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100px;
}

.box-placeholder {
    width: 100px;
    height: 100px;
    border: 3px solid #3882F6;
    border-radius: 8px;
    text-align: center;
}